* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  background: #100e19;
  color: #ffffff;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1000px) 1fr;
  grid-template: 1fr/1fr minmax(auto, 1000px) 1fr;
}

.poster {
  padding: 50px 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
}

.poster__title {
  font-size: 42px;
  margin-bottom: 50px;
}

.poster__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 30px;
  column-gap: 30px;
  row-gap: 40px;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.cards__image {
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  padding: 0 0 130% 0;
}

.cards__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cards__title {
  font-size: 18px;
}

.cinema {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.close-video {
  cursor: pointer;
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  position: fixed;
}

.close-video span {
  background: #ffffff;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(-50%);
}

.close-video span:first-child {
  transform: rotate(45deg);
}

.close-video span:last-child {
  transform: rotate(-45deg);
}

.player {
  position: fixed;
  opacity: 0;
  width: 1000px;
  height: 800px;
}

.player__wrapp {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.player__video {
  width: 100%;
  height: 100%;
}

.video__wrapp {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.video__viewer {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

